<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{if .IsHome }}{{ .Site.Author.about }}{{ else }}{{ .Description }}{{ end }}">
<meta name="author" content="{{ .Site.Author.name }}">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{if .IsHome }}{{ .Site.Author.about }}{{ else }}{{ .Description }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{if .IsHome }}{{ .Site.Author.about }}{{ else }}{{ .Description }}{{ end }}">

<meta name="robots" content="index, follow">

<link rel="shortcut icon" href="{{ "/images/favicon.ico" | absURL }}" type="image/x-icon" />
<link rel="icon" href="{{ "/images/favicon.ico" | absURL }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Merriweather&family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ "/css/style.css" | absURL }}">


<!--{{ if .Site.Params.enableGoogleAnalytics }} -->
<!--    {{ template "_internal/google_analytics_async.html" . }}-->
<!--{{ end }}-->

<link href="/index.xml" rel="alternate" type="application/rss+xml" title="Alexander Mykolaichuk's Blog RSS Feed" />
