<div class="social">
    <a href="{{ .Site.Social.twitter | safeURL}}" target="_blank" rel="noopener noreferrer">Twitter</a>
    <span class="split">·</span>
    <a href="{{ .Site.Social.github | safeURL}}" target="_blank" rel="noopener noreferrer">Github</a>
    <span class="split">·</span>
    <a href="{{ .Site.Social.linkedin | safeURL}}" target="_blank" rel="noopener noreferrer">Linkedin</a>
    <span class="split">·</span>
    <a href="{{ "/index.xml" | absURL }}" target="_blank" rel="noopener noreferrer">RSS</a>
</div>
